<!--The content below is only a placeholder and can be replaced.-->

  

<!-- <div style="text-align:center"> -->
  <h1 style="background:#5053ce;text-align:center;">
    Recuperación de Información
  </h1>
  <body class="panel panel-default" style="background: #94b7dc;">
  <router-outlet>
  <nav style="background-color:#5053ce;" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand"><h3> Recuperación de Inforamación</h3> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        

        <li class="nav-item">
          <a class="nav-link" [routerLink]="'busqueda'"><strong><h4>Inicio</h4></strong> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'documento'"><strong><h4>Documentos</h4></strong></a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  
</router-outlet>
</body>
<footer class="footer" style="background:#5053ce;">
    <div class="container">
        
            <p>Recuperación de Información</p>
        
    </div>
</footer>
